/*TODO --------- GOOGLE FONTS --------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&family=Poppins:wght@300;400;500;600;700&family=Salsa&display=swap');



/*TODO --------- VARIABLE CSS --------- */
:root {
    --header-height: 6rem;

    /* Colors */
    --first-color: #88bd24;
    --second-color: #575755;
    --text-color: #000;
    --body-color: #FFFFFF;
    --container-color: #dfdfdf;
    --border-color: #ccc;

    /* Font and typography */
    --body-font: "Poppins", sans-serif;
    --second-font: "Montserrat", sans-serif;
    --third-font: "Salsa", sans-serif;

    --big-font-size: clamp(2rem, 0.9706rem + 4.7059vw, 4.5rem);
    --h1-font-size: clamp(1.75rem, 0.9265rem + 3.7647vw, 3.75rem);
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1.125rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.875rem;
    --font-move: clamp(1.5rem, 0.9853rem + 2.3529vw, 2.75rem);

    /* Font weight */
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --weight-800: 800;
    --weight-900: 900;

    /* Transition */
    --transition: cubic-bezier(0.05, 0.2, 0.1, 1);

    /* Border Radius */
    --radius: .5rem;

    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}



/*TODO --------- RESPONSIVE TYPOGRAPHY --------- */
@media screen and (max-width: 992px) {
    :root {
        --header-height: 5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.9375rem;
        --smaller-font-size: 0.813rem;
    }
}



/*TODO --------- BASE --------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

input,
textarea,
body {
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-300);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--weight-700);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--container-color);
}

img {
    max-height: 100%;
}

textarea,
input {
    background-color: transparent;
    border: none;
    outline: none;
}

#servicio1,
#servicio2,
#servicio3,
#servicio4 {
    height: 100%;
    width: 100%;
    border-radius: var(--radius);
}



/*TODO --------- REUSABLE CSS CLASSES --------- */
.container {
    max-width: 1260px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.btn {
    display: inline-block;
    color: var(--first-color);
    background-color: transparent;
    border: 2px solid var(--first-color);
    padding: 0.5rem 1.5rem;
    border-radius: var(--radius);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s var(--transition);
}

.btn:hover {
    background-color: var(--first-color);
    color: var(--body-color);
}



/*TODO --------- HEADER --------- */
.header {
    /* border: 3px solid red; */
    position: sticky;
    top: 0;
    height: 150px;
    width: 100%;
    background-color: var(--second-color);
    z-index: var(--z-fixed);
    display: flex;
}

.nav,
.nav__list,
.nav__socials {
    display: flex;
}

.nav {
    /* border: 3px solid green; */
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    width: 100%;
}

.nav__menu {
    /* border: 3px solid violet; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    color: white;
}

.nav__menu-contact {
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    padding: 0 55px;
}

.nav__menu-contact div {
    border-bottom: 2px solid var(--first-color);
    display: flex;
    /* align-items: center; */
    gap: 20px;
    padding: 0 5px;
}

.nav__menu-contact span {
    /* border: 3px solid violet; */
    display: flex;
    justify-content: center;
}


.nav__menu-links {
    /* border: 3px solid white; */
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.show-menu {
    /* border: 3px solid blue; */
    display: flex;
    align-items: center;
}

.nav__list {
    column-gap: 2rem;
}

.nav__link {
    /* border: 3px solid yellow; */
    transition: all 0.3s var(--transition);
    font-weight: var(--weight-500);
}

.nav__social-link {
    font-size: var(--small-font-size);
    border: 2px solid var(--body-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: all 0.3s var(--transition);
}

.nav__social-link:hover {
    border-color: var(--first-color);
}

.nav__socials a:hover {
    color: var(--first-color);
}

.nav__contact a:hover {
    color: var(--first-color);
}

.activate-link,
.nav__link:hover {
    color: var(--first-color);
}

.nav__toggle,
.nav__close {
    display: none;
    color: white;
}

.nav__socials {
    /* border: 3px solid green; */
    display: flex;
    gap: 10px;
}


/*TODO --------- PAGES --------- */

.main {
    border-radius: 15px;
    box-shadow: 3px 3px 10px var(--second-color);
    margin: 40px auto;
    padding: 40px 80px;
    max-width: 750px;
    background-color: rgb(255, 255, 255);
}

.main h2 {
    text-align: center;
    margin-bottom: 20px;
}

.main h3 {
    font-size: 16px;
}

.main p,
.main ul li {
    font-size: 14px;
}

.main h2,
.main h3,
.main p,
.main ul li {
    color: var(--second-color);
}

.main p,
.main ul {
    margin-left: 20px;
}

.main ul {
    margin-left: 40px;
}

.main p strong {
    font-weight: 600;
}

/*TODO --------- FOOTER --------- */
.footer {
    background-color: var(--second-color);
    color: var(--container-color);
    padding-block: 2rem;
}

.footer__container {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    padding: 0 100px;
    gap: 40px;
}

.footer__logo,
.footer__enlaces,
.footer__horario,
.footer__contacto {
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.footer__enlaces,
.footer__horario,
.footer__contacto {
    padding-top: 25px;
}

#footer--title {
    margin-left: 0px;
    color: var(--first-color);
}

.footer__logo {
    width: 260px;
}

.footer__logo span {
    margin-top: -10px;
    font-size: 15px;
}

.footer__logo img {
    margin-bottom: 20px;
}

.footer__container div p {
    color: var(--body-color);
    font-weight: bold;
}

.footer__container div span {
    font-weight: lighter;
}

.footer__copy {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
}

.footer__container div a:hover {
    color: var(--first-color);
}

.footer__contacto {
    display: flex;
    width: 300px;
}

.footer__socials {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.footer__social-link {
    font-size: var(--small-font-size);
    border: 2px solid var(--body-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: all 0.3s var(--transition);
}

.footer__social-link:hover {
    border-color: var(--first-color);
}

.legals {
    margin-top: 20px;
    font-size: var(--small-font-size);
}



/*TODO --------- SCROLL UP --------- */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--border-color);
    display: grid;
    place-items: center;
    z-index: var(--z-fixed);
    transition: all .5s var(--transition);
}

.scrollup__icon {
    color: var(--first-color);
    font-size: 2.25rem;
    line-height: 1;
}

.show-scroll {
    bottom: 2rem;
}



/*TODO --------- BREACKPOINTS --------- */
/* For medium devices */
/* @media (min-width: 768px) and (max-width: 1259px) {
} */

/* For small devices */
@media (max-width: 430px) {
    
    html, body {
        overflow-x: hidden;
    }

    /* -------- HEADER -------- */
    .header {
        position: fixed;
    }

    .nav__toggle,
    .nav__close {
        display: block;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: fit-content;
        background-color: var(--second-color);
        padding: 4rem 0rem;
        transition: all 0.8s ease-in-out;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .show-menu {
        right: 0;
    }

    .nav__list {
        flex-direction: column;
        row-gap: 1.125rem;
        gap: 12px;
    }

    .nav__link {
        font-weight: bold;
    }

    .nav__close {
        font-size: 2rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .nav__toggle {
        font-size: var(--h2-font-size);
    }

    .nav__close,
    .nav__toggle {
        cursor: pointer;
    }

    .nav__menu-contact {
        margin-bottom: 30px;
    }

    .nav__menu-contact div {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 2px;
    }

    .nav__menu-contact div a:last-child {
        margin-bottom: 30px;
    }

    .nav__menu-contact span {
        display: none;
    }

    .nav__menu-links {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    /* -------- MAIN -------- */
    .main {
        border-radius: none;
        box-shadow: none;
        margin: none;
        margin-top: 150px;
        padding: 20px 30px;
        max-width: none;
    }

    /* -------- HOME -------- */
    .home {
        margin-top: 150px;
        height: 100%;
        padding: 20px 0;
    }
    
    .home__div {
        flex-direction: column;
    }

    .home__logo {
        width: 100%;
    }
    
    .home__logo img {
        padding: 0 20px 20px 20px;
        width: 100%;
        margin-bottom: initial;
    }
    
    .home__cards {
        padding: 10px 0;
        gap: 15px;
        width: 100%;
        margin-top: -10px;
    }
    
    .home__cards div {
        padding: 10px 10px;
        width: 100%;
        line-height: 1.5rem;
    }
    
    .home__final {
        margin-top: 10px;
        padding: 20px;
    }
    
    .home__final h1 {
        font-size: 18px;
    }

    /* -------- SOBRE -------- */
    .sobre {
        padding: 0;
        scroll-margin-block: 150px;
    }

    .sobre__empresa {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 40px 0 0;
    }

    .sobre__empresa h2 {
        text-align: center;
    }

    .sobre__historia {
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    .sobre__historia--img {
        display: none;
    }

    .sobre__historia--text {
        box-shadow: none;
        padding: 20px 10px;
        width: 100%;
        position: static;
        line-height: 1.2rem;
        text-align: center;
        border-radius: 10px 10px 0 0;
    }

    .sobre__historia--text h1 {
        line-height: 1.5rem;
        margin: 0;
        font-size: 22px;
    }

    .sobre__historia--action {
        border-radius: 0;
        padding: 20px;
        gap: 20px;
        position: static;
        line-height: 1.2rem;
    }

    .sobre__mision {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .sobre__mision h2 {
        margin-bottom: -20px;
        font-size: 22px;
    }

    .sobre__mision--div {
        flex-direction: column;
        gap: 10px;
        padding: 0;
        height: 100%;
    }

    .sobre__mision--div .sobre__mision--order {
        order: 1;
    }

    .sobre__mision--div div p {
        line-height: 1.4rem;
        padding: 0 10px;
    }

    .sobre__span {
        margin: 0 auto;
    }

    .sobre__mision--div h3 {
        width: 100%;
        margin-left: 0;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    #vision {
        text-align: center;
        padding-left: 0;
    }

    hr {
        display: none;
    }

    .sobre__mision--div2 {
        flex-direction: column;
        gap: 10px;
        padding: 0;
        height: 100%;
        margin-top: 0;
    }

    .sobre__mision--div2 h3 {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
        text-align: end;
        padding-right: 20px;
    }

    .sobre__mision--container1 {
        width: 100%;
    }

    .sobre__mision--container1 p {
        line-height: 1.4rem;
        padding: 0 10px;
    }

    .sobre__mision--container {
        flex-direction: column;
        gap: 15px;
    }

    .sobre__mision--text {
        box-shadow: 0 2px 5px black;
        padding: 15px 20px;
        height: 100%;
    }

    .sobre__mapa {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 0px;
        margin-bottom: -20px;
    }

    .sobre__mapa--text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .sobre__mapa--text h2 {
        font-size: 22px;
    }

    .sobre__mapa--text p {
        padding: 0 20px;
        text-align: center;
        margin-top: 0px;
    }

    .sobre__mapa--container {
        display: none;
    }

    .sobre__mapa--img {
        width: 100%;
        margin-top: -20px;
        margin-bottom: -30px;
    }

    .sobre__google {
        padding: 0;
    }

    .sobre__google--title {
        flex-direction: column;
        gap: 20px;
    }

    .sobre__google--title h2 {
        font-size: 22px;
    }

    .btn-google {
        background-color: #d8eead;
        border: none;
        border-radius: 50px;
        padding: 0.3rem 1rem;
    }

    .btn-google:hover {
        background-color: #d8eead;
        box-shadow: 0 0 5px 1px black;
        color: var(--second-color);
    }

    hr {
        margin: 0 50px;
    }

    /* -------- SERVICIOS -------- */
    .servicios__introduccion h1 {
        font-size: 22px;
        padding: 0 15px;
    }

    .servicios__introduccion p {
        font-size: 1.1rem;
        margin: 0 auto 20px;
    }

    .servicios__div {
        gap: 30px;
        padding: 40px 20px;
    }

    .servicios__container {
        flex-direction: column;
        height: 100%;
        gap: 10px;
        padding: 0 0 10px 0;
        box-shadow: 0px 7px 10px black;
        border-radius: var(--radius);
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 0;
        transition: transform 1s ease-out, opacity 1.5s ease-out;
    }

    .servicio__derecha {
        transform: translateX(100px);
    }

    .servicio__izquierda {
        transform: translateX(-100px);
    }

    .servicios__container.visible {
        opacity: 1;
        transform: translateX(0);
    }

    .servicio__izquierda .servicios__texto {
        order: 1;
    }

    .servicios__imagen {
        min-height: 220px;
        height: 220px;
        box-shadow: none;
    }

    .servicios__imagen #servicio1,
    .servicios__imagen #servicio2,
    .servicios__imagen #servicio3,
    .servicios__imagen #servicio4 {
        border-radius: 10px 10px 0 0;
    }

    .servicios__texto {
        padding: 0 10px;
        gap: 0px;
        width: 100%;
    }

    .servicios__texto h2 {
        font-size: 22px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0);
    }

    .servicios__descripcion p {
        line-height: 1.2rem;
    }

    /* -------- PREGUNTAS -------- */
    .preguntas__introduccion {
        text-align: center;
        gap: 10px;
        padding: 30px 10px;
    }

    .preguntas__introduccion h1 {
        font-size: 22px;
        margin-left: 0;
    }

    .preguntas__introduccion div {
        flex-direction: column;
        gap: 20px;
    }

    .preguntas__introduccion p {
        font-size: 1rem;
        max-width: 100%;
        padding: 0;
    }

    .preguntas__div {
        background-color: var(--second-color);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .preguntas2 {
        height: 100%;
    }

    .preguntas3 {
        width: 100%;
        gap: 15px;
        padding: 30px 10px;
    }

    .pregunta__imagen {
        display: none;
    }

    .pregunta__titulo {
        font-size: 1rem;
    }

    .pregunta__respuesta {
        line-height: 1.2rem;
    }

    /* -------- PROYECTOS -------- */
    .proyectos {
        padding: 30px 0 70px;
    }

    .proyectos__introduccion h1 {
        font-size: 22px;
    }

    .experience-section {
        gap: 10px;
        padding: 0 20px;
        height: 90px;
    }

    .experience-item {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .proyectos__container {
        width: 100%;
    }

    .proyectos__div {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .proyecto {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        border-radius: 7px;
    }

    .proyecto__imagen {
        height: 150px;
        border-radius: 7px;
    }

    .proyecto__info {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    .proyecto__info h4 {
        font-size: 16px;
        width: 100%;
    }

    .proyectos__div .proyecto:nth-child(1) {
        grid-column: span 1;
    }

    .proyectos__div .proyecto:nth-child(5) {
        grid-column: span 1;
    }

    /* Estilos para el lightbox */
    .lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .lightbox-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
    }

    .lightbox__img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
    }

    /* -------- CONTACTO -------- */
    .contacto {
        scroll-margin-block: 135px;
    }
    
    .contacto__container {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
        color: white;
    }

    .contacto__div-text h1 {
        font-size: 22px;
    }

    .contact__description {
        width: 90%;
        justify-self: center;
        margin-bottom: 2rem;
    }

    .contacto__div {
        flex-direction: column;
    }

    .contacto__title {
        font-size: 18px;
    }

    .contact__form {
        margin-top: 10px;
        text-align: center;
    }

    .contacto__text {
        display: none;
    }

    .btn-contact {
        margin-left: initial;
    }

    .error__message {
        position: static;
        margin-top: 10px;
        height: 10px;
        bottom: initial;
        left: initial;
        font-weight: var(--weight-900);
    }

    .contacto__map {
        margin-top: -10px;
    }

    /* -------- FOOTER -------- */
    .footer__container {
        flex-direction: column;
        padding: 0;
        gap: 10px;
    }

    .footer__logo,
    .footer__enlaces,
    .footer__horario,
    .footer__contacto {
        text-align: center;
        align-items: center;
    }

    .footer__enlaces,
    .footer__horario,
    .footer__contacto {
        padding-top: 0px;
    }

    .footer__enlaces ul {
        text-align: start;
        margin-left: 35px;
    }

    .footer__logo {
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        padding: 0 30px;
    }

    .footer__hr {
        display: block;
    }

    .footer__copy {
        padding: 0 30px;
        font-size: 15px;
    }
}

@media (max-width: 417px) {
    /* -------- HOME -------- */
    .home__final h1 {
        font-size: 17px;
    }

    /* -------- SOBRE -------- */
    .sobre__historia--action {
        padding: 20px 15px;
    }

    .sobre__mision--text {
        box-shadow: 0 2px 5px black;
        padding: 15px 15px;
        height: 100%;
    }
}

@media (max-width: 400px) {
    /* -------- HOME -------- */
    .home__cards {
        padding: 10px 10px;
    }
    
    .home__cards div {
        line-height: 1.4rem;
        padding: 10px 20px;
    }
    
    .home__final h1 {
        font-size: 17px;
    }

    /* -------- SOBRE -------- */
    .sobre__historia--text {
        padding: 20px;
    }
    
    .sobre__historia--action {
        padding: 20px 10px;
        gap: 10px;
    }

    .sobre__mision--container {
        width: 95%;
    }

    .sobre__mision--text {
        padding: 15px 17px;
        height: 100%;
    }
}

@media (max-width: 380px) {
    /* -------- HEADER -------- */
    .nav__menu {
        font-size: 14px;
    }

    /* -------- HOME -------- */
    .home__final h1 {
        font-size: 16px;
    }

    /* -------- SOBRE -------- */
    .sobre__historia--action {
        padding: 20px;
        gap: 15px;
        flex-direction: column;
        text-align: center;
    }

    .sobre__mision--div div p {
        padding: 0;
    }

    .sobre__mision--container1 p {
        padding: 0;
    }

    .sobre__mision--container {
        width: 97%;
    }

    .sobre__mision--text {
        padding: 15px 10px;
    }

    .sobre__mapa--text p {
        padding: 0;
    }

    /* -------- PROYECTO -------- */
    .experience-section {
        gap: 7px;
    }

    .experience-item {
        font-size: 15px;
    }

    /* -------- CONTACTO -------- */
    .contact__description {
        width: 100%;
    }

    .contacto__text {
        font-size: 13.5px;
    }

    /* -------- FOOTER -------- */
    .footer__copy {
        padding: 0 5px;
    }
}

@media (max-width: 360px) {
    /* -------- HOME -------- */
    .home__cards div {
        padding: 10px 10px;
    }

    .home__final h1 {
        font-size: 15px;
    }

    /* -------- SOBRE -------- */
    .sobre__mision--container {
        width: 100%;
    }

    .sobre__mision--text {
        padding: 12px 5px;
    }

    /* -------- PREGUNTAS -------- */
    .preguntas__introduccion div p {
        padding: 0 12px;
    }

    /* -------- PROYECTO -------- */
    .experience-section {
        gap: 10px;
        flex-direction: column;
        width: fit-content;
        margin: 0 auto -20px;
        height: 100%;
    }

    .experience-item {
        font-size: 15px;
    }

    /* -------- CONTACTO -------- */
    .contact__description {
        width: 100%;
    }

    /* -------- FOOTER -------- */
    .footer__copy {
        padding: 0;
    }
}